@tailwind base;
@tailwind components;
@tailwind utilities;


@import url('/css/satoshi.css');

html,
body,
* {
        padding: 0;
        margin: 0;
        font-family: 'Satoshi-Regular', Helvetica, Neue, sans-serif;
        box-sizing: border-box;
}

html,body{
        background-color: #F0F2F5;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
}

::-webkit-scrollbar {
        width: 0px;
}

a {
        color: inherit;
        text-decoration: none;
}

button {
        all: unset;
        cursor: pointer;

        &:disabled,
        &.disabled {
                filter: grayscale(100%);
        }
}

.app__flex {
        display: flex;
        justify-content: center;
        align-items: center;
}

.dash_navbar{

        position: fixed;
        z-index: 5;
        top: 0;
        left: 0;
        width: 100vw;

        nav{

                display: flex;
                justify-content: space-between;
                align-items: center;
                // padding: 20px;

                // @media screen and (max-width:500px) { padding: 10px 20px; }

        }

       
        &.blur_navbar{
                background: rgba(255, 255, 255, 0.21);
                box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
                backdrop-filter: blur(4.7px);
                -webkit-backdrop-filter: blur(4.7px);
                border-bottom: 1px solid rgba(255, 255, 255, 0.21);
        }
}


.mobileMenu{
        position: fixed;
        top: 110px;
        width: 100%;
        max-width: 224px;
        height: calc(100dvh - 110px - 20px);
        left: 24px;
        z-index: 8 !important;
        background-color: #fff;
        border-radius: 6px ;
        border: 1px solid #E4E7EC;
        padding-bottom: 24px;
        padding-top: 16px;

}

.loadingBox {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: .5rem;

        user-select: none;

        span {
                color: #324d67;
                // font-size: 3rem;
        }


        &.dim {
                width: 100vw;
                height: 100vh;
                background:rgba(52, 64, 84, 0.6);
                position: fixed;
                right: 0;
                top: 0;
                z-index: 8;
                /* will-change: transform; */
                transition: all .2s ease-in-out;
        }

}

.modalOverlay{
        width: 100vw;
        height: 100%;
        background: rgba(52, 64, 84, 0.6);
        position: fixed;
        right: 0;
        top: 0;
        z-index: 120    !important;
        transition: all .3s ease-in-out;

        display: flex;
        justify-content: center;
        align-items: center;
}

.modalBox{
        z-index: 130    !important;
        background-color: #fff;
        border: 1px solid #E6E5E6;
        padding: 32px 40px;
        border-radius: 8px;
        
        width: 60%;
        

        @media screen and (max-width:950px) {
                max-width: none;
                width: 85%;
        }

        @media screen and (max-width:800px) {
                max-width: none;
                width: 95%;
        }
        
        @media screen and (max-width:675px) {
                padding: 16px;
        }




        >nav{
                display: flex !important; 
                justify-content: space-between;
                align-items: center;
                gap: 15px;
                
                margin-bottom: 24px;

                h5{
                        overflow: hidden;
                        white-space: nowrap;
                        text-overflow: ellipsis;     
                }
        }
       

        >section{
                min-height: 8rem;
                max-height: 85vh;
                overflow-y: scroll;
        }


}
